.container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.pageButton {
  min-width: 35px;
}

.prevButton,
.nextButton {
  min-width: 35px;
}

.prevButtonIcon,
.nextButtonIcon {
  width: 16px;
  height: 16px;
}
