.container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.page {
  min-width: 35px;
}

.current {
  background: var(--buttonPressedBackground) !important;
  color: var(--color) !important;
}
