.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(5px);
}

.image {
  border-radius: var(--defaultBorderRadius);
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  cursor: default;
}
