:root {
  --background: rgb(21, 32, 43);
  --color: white;
  --dimmedColor: rgb(136, 153, 166);
  --borderColor: rgb(56, 68, 77);
  --accentColor: rgb(224, 36, 94);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --color: black;
    --dimmedColor: rgb(101, 119, 134);
    --borderColor: rgb(230, 236, 240);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: var(--color);
  background: var(--background);
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a,
a:hover,
a:visited,
a:active {
  color: var(--accentColor);
}
