.navigation {
  height: 53px;
  display: flex;
}

.item {
  padding: 15px;
  flex: 0 1 auto;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

.item,
.item:hover,
.item:visited {
  color: var(--color);
  text-decoration: none;
}

.item:global(.active) {
  color: var(--accentColor);
  border-bottom-color: var(--accentColor);
}

.item:hover {
  background-color: var(--buttonHoverBackground);
}
