.tweet {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
}

.tweetInfo {
  display: flex;
  justify-content: space-between;
}

.authorInfo {
  flex: 1 1 auto;
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
}

.tweetActions {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
}

.authorName {
  color: var(--color);
  font-weight: 700;
  margin-right: 10px;
}

.tweetText {
  white-space: pre-line;
}

.avatarColumn {
  width: 48px;
  flex: 0 0 48px;
  overflow: hidden;
}

.avatarImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.contentColumn {
  flex: 1;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linkButton {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: inherit;
}

.linkButton:hover {
  text-decoration: underline;
}

.dimmed,
.dimmed:hover,
.dimmed:visited,
.dimmed:active {
  color: var(--dimmedColor);
}

.retweetIcon {
  color: rgb(23, 191, 99);
}

.embedPlaceholder {
  color: var(--dimmedColor);
  font-style: italic;
}

.embedError {
  color: var(--color);
}

.embedHidden {
  height: 0;
  overflow: hidden;
}
