.tweet {
  margin: 10px 0;
  padding: 15px;
  border-top: 1px solid var(--borderColor);
  display: flex;
}

.authorInfo {
  margin-bottom: 10px;
}

.authorName {
  color: var(--color);
  font-weight: 700;
  margin-right: 10px;
}

.authorUsername {
  margin-right: 10px;
}

.tweetText {
  white-space: pre-line;
}

.attachments {
  margin-top: 10px;
}

a.dimmed,
a.dimmed:hover,
a.dimmed:visited,
a.dimmed:active {
  color: var(--dimmedColor);
}

.avatarColumn {
  width: 48px;
  flex: 0 0 48px;
  overflow: hidden;
}

.avatarImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.contentColumn {
  flex: 1;
  padding-left: 15px;
}