.filtersAndPaginationContainer {
  padding: 15px;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
}

.topPagination {
  flex: 0 0 auto;
}

.bottomPaginationContainer {
  padding: 15px;
}

.bottomPagination {
  justify-content: center;
}

.medias {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.masonryColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
