.filtersAndPaginationContainer {
  padding: 15px;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
}

.searchAndSettingsWrapper {
  display: flex;
  gap: 10px;
  flex: 1;
}

.searchWrapper {
  position: relative;
  flex: 1;
}

.searchField {
  background-color: var(--inputBackground);
  border: 2px solid transparent;
  border-radius: 40px;
  height: 40px;
  color: var(--color);
  padding: 0 20px 0 35px;
  margin: 0;
  width: 100%;
  min-width: 150px;
}

.searchField:focus {
  border: 2px solid var(--accentColor);
  outline: none;
}

.searchIconContainer {
  color: var(--dimmedColor);
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.topPagination {
  flex: 0 0 auto;
}

.bottomPaginationContainer {
  padding: 15px;
}

.bottomPagination {
  justify-content: center;
}

.filtersPanel {
  padding: 15px 25px;
  border-bottom: 1px solid var(--borderColor);
}
