.searchAndPaginationContainer {
  padding: 15px;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
}

.topPagination {
  flex: 0 0 auto;
}

.bottomPaginationContainer {
  padding: 15px;
}

.bottomPagination {
  justify-content: center;
}
