.searchWrapper {
  position: relative;
  flex: 1;
}

.searchField {
  background-color: var(--inputBackground);
  border: 2px solid transparent;
  border-radius: 40px;
  height: 40px;
  color: var(--color);
  padding: 0 20px 0 35px;
  margin: 0;
  width: 100%;
  min-width: 150px;
}

.searchField::placeholder {
  color: var(--dimmedColor);
}

.searchField:focus {
  border: 2px solid var(--accentColor);
  outline: none;
}

.searchIconContainer {
  color: var(--dimmedColor);
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
}
